@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --color-set-0: #ffffff;
  --color-set-1: #fafafa;
  --color-set-2: #fff;
  --color-set-3: #edf2f7;
  --color-set-3-i: #edf2f716;
  --color-set-4: rgba(130, 177, 165, 0.384);
  --color-set-5: #34caa5;
  --color-set-5-i: #3fa88e76;
  --color-set-gradient: linear-gradient(
    180deg,
    #34caa5 0%,
    rgba(52, 202, 165, 0) 100%
  );
  --color-set-gradient-hover: linear-gradient(180deg, #34caa5, rgba(52, 202, 165, 0));
  --color-set-7: #dadddd;
  --color-set-8: #ed544e;
  --color-set-9: #737373;
  --color-set-10: #3a3f51;
  --color-set-11: #26282c;
  --color-set-12: #a3a3a3;
  --color-set-13: #787486;
  --color-set-14: #e5eaef;
  --color-set-15: #0d062d;
  --color-set-16: rgba(237, 84, 78, 0.12);
  --color-set-16-i: rgb(237, 83, 78);
  --color-set-17: rgba(52, 202, 165, 0.12);
  --color-set-17-i: rgba(52, 202, 164, 0.721);
  --color-set-18: #606060;
  --color-set-19: #898989;
  --color-set-20: #525252;
  --color-set-21: #22242c;
  --color-set-22: #6160dc;
  --color-set-23: #f5f5f5;
  --color-set-24: #54c5eb;
  --color-set-25: #ffb74a;
  --color-set-26: #0d062d;
  --color-set-27: #9ca4ab;
  --color-set-28: #e1dfdfdf;
  --color-set-29: #ced1e3;
  --color-set-30: #f7f8fa;
  --color-set-30-i: #f7f8fad3;
  --color-set-31: #131313f2;
  --color-set-32: #acb1b52b;
  --color-set-33: #b2abab;
  --color-set-34: #090909e9;
  --color-set-35: #ff4a55;
  --color-set-36: #292d32;
  --color-set-37: #898989;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  background: var(--color-set-30);
  transition: color 5s, background-color 5s;
  font-family: "Plus Jakarta Sans", "Inter", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", cursive, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  cursor: pointer;
}

/* .apexcharts-bar-area:hover {
  fill: var(--color-set-5-i) !important;
} */
.apexcharts-bar-area:hover::after {
    content: "" !important;
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    /* width: 100%;
    height: 50%; Adjust the height to control the fade-out area */
    /* background-color: linear-gradient(to bottom, var(--color-set-5-i), white) !important; */
    background: red !important;
    pointer-events: none !important; /* This ensures the pseudo-element doesn't interfere with mouse events */
  }